<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div class="container mt-5">
    <!-- Login Button -->
    <!-- <div class="mb-4">
      <a th:href="@{/login}" class="btn btn-secondary">Login</a>
    </div> -->

    <div class="d-flex justify-content-end">
      <div th:if="${session.token == null}">
        <a href="/login" class="btn btn-primary">Login</a>
      </div>
      <div th:if="${session.token != null}">
        <a href="/logout" class="btn btn-danger">Logout</a>
      </div>
    </div>

    <h1 class="text-center">New Recipes 🥗</h1>

    <!-- Search Form -->
    <form th:action="@{/search}" method="get" class="mb-4">
      <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Search recipes..." required>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>
    </form>



    <div class="row">
      <div class="col-md-4 mb-4" th:each="recipe : ${recipes}">
        <div class="card">
          <img th:src="@{${recipe.image}}" class="card-img-top" alt="Recipe Image">
          <div class="card-body">
            <h5 class="card-title" th:text="${recipe.name}">Recipe Name</h5>
            <div th:if="${session.token != null}">
              <!-- Button to go to recipe details if logged in -->
              <a th:href="@{/recipes/{id}(id=${recipe.id})}" class="btn btn-primary">View Recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>